span.price {
	float: right;
	margin-right: 1em;
}

img.preview {
	max-width: 400px;
	max-height: 400px;
}

.wrapper.spotlight.style0 {
	background-color: #2d3a69;
}

.wrapper.spotlight.style0:before, .wrapper.spotlight.style0:after {
	background-image:
		url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%232d3a69%3B' /%3E%3C/svg%3E");
}